
# TODO check which collection version should be used
# https://github.com/openstack/ansible-collections-openstack
# take a look at the notes about OpenStack SDK 1.0
openstacksdk<=4.4.0
ansible==7.5.0
pre-commit==4.1.0
