- name: Check if backend repo exists
  ansible.builtin.stat:
    path: '{{ backend_repo_workdir }}/docker-compose.yml'
  register: docker_compose_file_status

- name: Gather package facts
  ansible.builtin.package_facts:
    manager: apt

- name: Check if docker-compose is installed
  ansible.builtin.pip:
    name: docker-compose
  check_mode: true
  register: docker_compose_installation_status
  ignore_errors: true

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_compose_module.html
- name: Run `docker-compose down` to shut down the backend
  become: true
  community.docker.docker_compose:
    project_src: '{{ backend_repo_workdir }}'
    state: absent
    remove_images: all
    remove_volumes: true
  when: 
    - docker_compose_file_status.stat.exists
    - ("docker-ce" in ansible_facts.packages) or (ansible_connection == "local")
    - docker_compose_installation_status is not failed

- name: Recursively remove directory with clone repo
  ansible.builtin.file:
    path: "{{ backend_repo_workdir }}"
    state: absent
