# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html
- name: Git checkout
  ansible.builtin.git:
    repo: 'https://github.com/yaptide/yaptide'
    dest: '{{ backend_repo_workdir }}'
    version: '{{ backend_repo_version }}'
    force: true  # at later stages repo can be manually modified, therefore we do a foce checkout

- name: Copy shieldhit binary to the backend instance
  ansible.builtin.copy:
    src: shieldhit
    dest: '{{ backend_repo_workdir }}'
    mode: '0750'

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html
- name: Create a file with environment variables, needed by docker-compose
  ansible.builtin.copy:
    dest: '{{ backend_repo_workdir }}/.env'
    mode: '0640'
    content: 'SHIELDHIT_PATH: {{ backend_repo_workdir }}/shieldhit'

- name: Check if local file grid_proxy exists
  ansible.builtin.stat:
    path: grid_proxy
  vars:
    ansible_become: false
  delegate_to: localhost
  register: grid_proxy_stat

- name: Copy grid proxy
  ansible.builtin.copy:
    src: grid_proxy
    dest: '{{ backend_repo_workdir }}/yaptide/data/'
    mode: '0640'
  when: grid_proxy_stat.stat.exists

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html
- name: Create a file with initial username and password (with grid proxy)
  ansible.builtin.copy:
    dest: '{{ backend_repo_workdir }}/yaptide/data/script_input.json'
    mode: '0640'
    content: |
      [
          {
              "OPERATION": "DELETE",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
              }
          }
          ,
          {
              "OPERATION": "UPDATE",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
                  "PASSWORD": "{{ backend_password }}"
              }
          }
          ,
          {
              "OPERATION": "UPDATE",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
                  "GRID_PROXY_NAME": "grid_proxy"
              }
          }
      ]
  when: grid_proxy_stat.stat.exists
  register: script_input_json_file_grid_proxy

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html
- name: Create a file with initial username and password (without grid proxy)
  ansible.builtin.copy:
    dest: '{{ backend_repo_workdir }}/yaptide/data/script_input.json'
    mode: '0640'
    content: |
      [
          {
              "OPERATION": "DELETE",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
              }
          }
          ,
          {
              "OPERATION": "INSERT",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
                  "PASSWORD": "{{ backend_password }}"
              }
          }
      ]
  when: grid_proxy_stat.stat.exists == false
  register: script_input_json_file_no_grid_proxy

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_compose_module.html
- name: Clean volumes
  community.docker.docker_compose:
    project_src: '{{ backend_repo_workdir }}'
    state: absent
    remove_volumes: true
  when: script_input_json_file_grid_proxy is changed or script_input_json_file_no_grid_proxy is changed

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_compose_module.html
- name: Run `docker-compose up` to bring up the backend
  community.docker.docker_compose:
    project_src: '{{ backend_repo_workdir }}'

- name: Insert a first user into database
  community.docker.docker_container_exec:
    container: yaptide_flask
    command: python3 db_script.py
    chdir: /usr/local/app/yaptide/data
  when: script_input_json_file_grid_proxy is changed or script_input_json_file_no_grid_proxy is changed
