# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html
- name: Git checkout
  become: false
  ansible.builtin.git:
    repo: 'https://github.com/yaptide/yaptide'
    dest: '{{ backend_repo_workdir }}'
    version: '{{ backend_repo_version }}'
    force: true  # at later stages repo can be manually modified, therefore we do a foce checkout

- name: Copy shieldhit binary to the backend instance
  become: false
  ansible.builtin.copy:
    src: shieldhit
    dest: '{{ backend_repo_workdir }}'
    mode: '0750'

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html
- name: Create a file with environment variables, needed by docker-compose
  become: false
  ansible.builtin.copy:
    dest: '{{ backend_repo_workdir }}/.env'
    mode: '0640'
    content: 'SHIELDHIT_PATH: {{ backend_repo_workdir }}/shieldhit'

# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/copy_module.html
- name: Create a file with initial username and password
  become: false
  ansible.builtin.copy:
    dest: '{{ backend_repo_workdir }}/yaptide/data/script_input.json'
    mode: '0640'
    content: |
      [
          {
              "OPERATION": "INSERT",
              "TABLE": "User",
              "DATA": {
                  "LOGIN": "admin",
                  "PASSWORD": "{{ backend_password }}"
              }
          }
      ]

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_compose_module.html
- name: Run `docker-compose up` to bring up the backend
  become: true
  community.docker.docker_compose:
    project_src: '{{ backend_repo_workdir }}'

- name: Insert a first user into database
  community.docker.docker_container_exec:
    container: yaptide_flask
    command: python3 db_script.py
    chdir: /usr/local/app/yaptide/data
