# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html
- name: Git checkout
  ansible.builtin.git: # noqa: latest
    repo: 'https://github.com/yaptide/ui'
    dest: '{{ frontend_repo_workdir }}'
    version: '{{ frontend_repo_version }}'


# backend_hostname: "localhost"
- name: Setup
  when: ansible_connection != 'local'
  block:
  # Gather IP facts from ipify.org
    - name: Get my public IP
      community.general.ipify_facts:
      register: my_public_ip

    - name: Print the public IP
      ansible.builtin.debug:
        msg: "Public IP is {{ my_public_ip.ansible_facts.ipify_public_ip }}"

    - name: Register IP
      ansible.builtin.set_fact:
        backend_hostname: "{{ my_public_ip.ansible_facts.ipify_public_ip }}"
        frontend_hostname: "{{ my_public_ip.ansible_facts.ipify_public_ip }}"

- name: Stop nginx container
  community.docker.docker_container:
    name: nginx
    state: absent
    keep_volumes: false
    auto_remove: true

- name: Stop node container
  community.docker.docker_container:
    name: node
    state: absent
    keep_volumes: false
    auto_remove: true

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_volume_module.html
# equivalent of:
# docker volume create yaptide_frontend_build_volume
- name: Create a volume
  community.docker.docker_volume:
    name: yaptide_frontend_build_volume
    recreate: always

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html
# equivalent of:
# REACT_APP_BACKEND_URL=http://149.156.182.181:5000  docker run -v /home/ubuntu/ui/:/ui:ro -v yaptide_frontend_build_volume:/build:rw -w /workspace node:18 /bin/bash -c "cp -r /ui/. .; apt-get -qq update; apt-get -qq install python3-pip; npm install; npm run build; npm run fix-web-dev; cp -r /workspace/build/. /build;"
# this may be a time consuming task
- name: Initiating build frontend app
  community.docker.docker_container:
    name: node
    image: node:18
    working_dir: /workspace
    state: started
    detach: false
    cleanup: true
    env:
      REACT_APP_BACKEND_URL: 'http://{{ backend_hostname }}:5000'
    command: |
      /bin/bash -c
      "cp -r /ui/. .; apt-get -qq update; apt-get -qq install python3-pip; npm install; npm run build; npm run fix-web-dev; cp -r /workspace/build/. /build;"
    volumes:
      - '{{ frontend_repo_workdir }}:/ui:ro'
      - yaptide_frontend_build_volume:/build:rw
  register: build_frontend_app_output

- name: Print output of build frontend app
  ansible.builtin.debug:
    msg: "{{ build_frontend_app_output.container.Output.split('\n') }}"


# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html
# equivalent of:
# docker run -d -p 80:80 -v yaptide_frontend_build_volume:/usr/share/nginx/html:ro nginx
- name: Serve frontend using nginx
  community.docker.docker_container:
    name: nginx
    image: nginx
    detach: true
    published_ports:
      - '0.0.0.0:80:80'
    volumes:
      - yaptide_frontend_build_volume:/usr/share/nginx/html:ro

- name: Show where frontend is running
  ansible.builtin.debug:
    msg: "Yaptide platform is available at http://{{ frontend_hostname }} "
