# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/git_module.html
- name: Git checkout
  ansible.builtin.git: # noqa: latest
    repo: 'https://github.com/yaptide/ui'
    dest: '{{ frontend_repo_workdir }}'
    version: '{{ frontend_repo_version }}'

# Gather IP facts from ipify.org
# TODO think of better way of assiging floating IP to a variable by openstack role and passing it to frontend role
- name: Get my public IP
  community.general.ipify_facts:
  register: my_public_ip

- name: Print the public IP
  ansible.builtin.debug:
    msg: "Public IP is {{ my_public_ip.ansible_facts.ipify_public_ip }}"

- name: Stop nginx container
  community.docker.docker_container:
    name: nginx
    state: absent
    keep_volumes: false
    auto_remove: true

- name: Stop node container
  community.docker.docker_container:
    name: node
    state: absent
    keep_volumes: false
    auto_remove: true

- name: Create a volume
  community.docker.docker_volume:
    name: yaptide_frontend_build_volume
    recreate: always

# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html
- name: Initiating build frontend app
  community.docker.docker_container:
    name: node
    image: node:18
    working_dir: /workspace
    state: started
    detach: false
    cleanup: true
    output_logs: true
    env:
      REACT_APP_BACKEND_URL: 'http://{{ my_public_ip.ansible_facts.ipify_public_ip }}:5000'
    command: |
      /bin/bash
      -c "cp -r /ui/. .; apt update; apt install -y python3-pip; npm install; npm run build; npm run fix-web-dev; cp -r /workspace/build/. /build;"
    volumes:
      - '{{ frontend_repo_workdir }}:/ui:ro'
      - yaptide_frontend_build_volume:/build:rw
  register: build_frontend_app_output

- name: Print output of build frontend app
  ansible.builtin.debug:
    msg: '{{ build_frontend_app_output.stdout_lines }}'


# https://docs.ansible.com/ansible/latest/collections/community/docker/docker_container_module.html
- name: Serve frontend using nginx
  community.docker.docker_container:
    name: nginx
    image: nginx
    detach: true
    published_ports:
      - '0.0.0.0:80:80'
    volumes:
      - yaptide_frontend_build_volume:/usr/share/nginx/html:ro

- name: Show where frontend is running
  ansible.builtin.debug:
    msg: "Yaptide platform is available at http://{{ my_public_ip.ansible_facts.ipify_public_ip }} "
