# Old key needs to be deleted prior to creating a new one
# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/keypair_module.html
- name: Replace a keypair with one assigned to this machine
  openstack.cloud.keypair:
    state: replace
    name: "{{ key_name }}"
    public_key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"  # noqa jinja[invalid]

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/network_module.html
- name: Create the network
  openstack.cloud.network:
    state: present
    name: "{{ openstack_network_name }}"
  register: openstack_network_facts

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/subnet_module.html
- name: Create the subnet
  openstack.cloud.subnet:
    state: present
    network_name: "{{ openstack_network_facts.id }}"
    name: "{{ item.subnet }}"
    ip_version: 4
    cidr: "{{ item.cidr }}"
    gateway_ip: "{{ item.gateway_ip }}"
    enable_dhcp: true
    dns_nameservers: "{{ dns_nameservers }}"
  when: openstack_setup_network
  loop: "{{ openstack_networking }}"

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/router_module.html
- name: Create the router
  openstack.cloud.router:
    state: present
    name: "{{ openstack_router_name }}"
    network: "{{ openstack_external_network_name }}"
    interfaces: "{{ openstack_networking | map(attribute='subnet') | list }}"
  when: openstack_setup_network

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/security_group_module.html
- name: Create a new security group
  openstack.cloud.security_group:
    state: present
    name: "{{ item.security_group_name }}"
  when: openstack_setup_network
  loop: "{{ openstack_networking }}"

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/security_group_rule_module.html
- name: Create a new security group allowing any ICMP
  openstack.cloud.security_group_rule:
    security_group: "{{ item.security_group_name }}"
    protocol: icmp
    remote_ip_prefix: 0.0.0.0/0
  when: openstack_setup_network
  loop: "{{ openstack_networking }}"

# https://docs.ansible.com/ansible/latest/collections/openstack/cloud/security_group_rule_module.html
- name: Create a new security group opening several ports
  openstack.cloud.security_group_rule:
    security_group: "{{ item.0.security_group_name }}"
    protocol: tcp
    port_range_min: '{{ item.1 }}'
    port_range_max: '{{ item.1 }}'
    remote_ip_prefix: 0.0.0.0/0
  loop: "{{ openstack_networking | product(port_list) }}"
  vars:
    port_list:
      - 22
      - 443
      - 8443
  when: openstack_setup_network

# At the moment of writing cloud infrastructure (C3 @ plgrid) has issues with creating instances
# Due to some problems two network interfaces are created for each instance, causing problems with
# assiging public IP
# As a workaround we are use a dedicated playbook to create an instance, and in case of troubles
# tear it down and repeat the process
# Due to limitations of the ansible we cannot implement it as a single repetitive task
- name: Launch an instance
  ansible.builtin.include_tasks: launch_instance.yml

- name: Assign a floating IP to the instance
  openstack.cloud.floating_ip:
    server: "{{ openstack_instance_hostname }}"
    network: "{{ openstack_external_network_name }}"
    nat_destination: "{{ openstack_network_name }}"
    floating_ip_address: "{{ openstack_floating_ip_address | default(omit) }}"
    reuse: true
    wait: true
  register: openstack_floating_ip_facts

- name: Wait for port 22 to become open and contain "OpenSSH"
  ansible.builtin.wait_for:
    port: 22
    host: "{{ openstack_floating_ip_facts.floating_ip.floating_ip_address }}"
    search_regex: OpenSSH
    delay: 10
    timeout: 60
  register: openstack_wait_for_ssh
  changed_when: false
  until: openstack_wait_for_ssh is succeeded
  retries: 15
  connection: local

- name: Scan for ssh public key
  ansible.builtin.command: "ssh-keyscan -H {{ openstack_floating_ip_facts.floating_ip.floating_ip_address }}"
  register: openstack_ssh_keyscan_host_results
  changed_when: openstack_ssh_keyscan_host_results.rc != 0
  until: "openstack_ssh_keyscan_host_results is succeeded"
  retries: 10
  delay: 10

- name: Add/update the public key(s) in the known_hosts file
  ansible.builtin.known_hosts:
    name: "{{ openstack_floating_ip_facts.floating_ip.floating_ip_address }}"
    key: "{{ openstack_ssh_keyscan_host_results.stdout }}"

- name: Show IP
  ansible.builtin.debug:
    msg: "To connect to the instance type: ssh {{ ansible_user }}@{{ openstack_floating_ip_facts.floating_ip.floating_ip_address }} "
