openstack_instance_hostname: "yaptide"

image_name: "Ubuntu 22.04 LTS Snapshot 20231015"
key_name: "ansible_key"
flavor_name: "h2.large"

openstack_networking:
  - {
      subnet: "yaptide_subnet",
      cidr: "10.0.0.0/24",
      gateway_ip: "10.0.0.1",
      security_group_name: "yaptide_secgr"
  }
  - {
      subnet: "yap_dev_subnet",
      cidr: "20.0.0.0/24",
      gateway_ip: "20.0.0.1",
      security_group_name: "yap_dev_secgr"
  }

openstack_network_name: "yaptide-network"
dns_nameservers:
  - "8.8.8.8"
  - "1.1.1.1"

openstack_router_name: "yaptide-router"
openstack_external_network_name: "external-10-192"
openstack_security_group_name: "yaptide_secgr"
openstack_floating_ip_address: ""

openstack_setup_network: true
